{% extends "layout.html" %}

{% block body %}
<h3>JOURNEYS</h3>
<hr>

{% if journeys %}

<form action="/search" method = "post">

    <input type="text" name = "keyword" class="search-slt" placeholder="Enter Trip">
    <input type="text" name = "keyword" class="search-slt" placeholder="Enter Author">
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<hr>
<ul class="list-group">
    {% for journey in journeys %}
    <li class="list-group-item"><a href="journey/{{journey.id}}">{{journey.title}}</a></li>
      
    {% endfor %}    
</ul>
  
{% else %}
<div class = "alert alert-danger">We could not find any journeys...</div>
  
{% endif %}

  
{% endblock body %}